body {
  background-color: powderblue;
}

p {
  color: #FFFF00;
}




body{
     font-family: Arial, Verdana, sans-serif;
}
h1{
     color: #E60000;
     font-size: 35px;
     text-transform:uppercase;
}
h2{
     color: #0000A0;
     font-size: 22px;
}
h3{
     color: #151515;
     font-size: 22px;
}
h4{
     color: #008000;
     font-size: 22px;
}














